extends layout
block content
	h1= title
	p= message
	each user in users
		ul
			li= user.name
			li= user.surname
			li= user.nickname

	script.
		socket.on('init', function (data) {
			console.log(data);
			socket.emit('message', {my: 'data'});
		});

		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', {my: 'data'});
		});